body{
	text-align: center;
	background-color: #01EDB7;
	background-image: url(http://i.imgur.com/6KEL8MK.jpg);
	background-size: 15%;
}

h1{
	background-color: blue;
	font-size:60px;
	padding: 10px;
	width: 42%;
    text-align: center;
    margin: auto;

}

h2{
	background-color: red;
	color: black;
	font-size:40px;
	margin-top: -5px;
	width: 45%;
    text-align: center;
    margin: auto;
}


#countdown-wrapper > div {
	color:#fff;
	font-size: 30px;
	padding: 10px;
	border-radius: 3px;
	background:#444DDD;
	display: inline-block;



}

.time-wrapper {
	padding: 15px
	border-radius: 3px;
	display: inline-block;
}

.time-text{
	padding-top: 5px;
	font-size:20px;
	display: inline-block;
}